.searchBox {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

hr {
  border-color: red;
}

.searchResultMovie {
  display: inline-block;
  width: 50%;
  border: 1px solid red;
  border-radius: 5px;
}