<div class="well" ng-show="view.movieToDisplay">
  <div class="row">
    <div class="col-md-5 imgContainer">
      <img src="{{view.movieToDisplay.Poster}}" alt="{{view.movieToDisplay.Title}}">
    </div>
    <div class="col-md-7">
      <h2>{{view.movieToDisplay.Title}}</h2>
      <p><strong class="attrName">Plot: </strong>{{view.movieToDisplay.Plot}}</p>
      <p><strong class="attrName">Released: </strong>{{view.movieToDisplay.Released}}</p>
      <p><strong class="attrName">Genre(s): </strong>{{view.movieToDisplay.Genre}}</p>
      <p><strong class="attrName">Director: </strong>{{view.movieToDisplay.Director}}</p>
      <p><strong class="attrName">Actors: </strong>{{view.movieToDisplay.Actors}}</p>
      <p><strong class="attrName">Writer(s): </strong>{{view.movieToDisplay.Writer}}</p>
      <p><strong class="attrName">Runtime: </strong>{{view.movieToDisplay.Runtime}}</p>
      <p><strong class="attrName">Rated: </strong>{{view.movieToDisplay.Rated}}</p>
      <p><strong class="attrName">Awards: </strong>{{view.movieToDisplay.Awards}}</p>
      <p><strong class="attrName">Metascore: </strong>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{view.movieToDisplay.Metascore}}" aria-valuemin="0" aria-valuemax="100" style="width: {{view.movieToDisplay.Metascore}}%;">
            {{view.movieToDisplay.Metascore}}/100
          </div>
        </div>
      </p>
      <p><strong class="attrName">IMDB Rating: </strong>{{view.movieToDisplay.imdbRating}}</p>

    </div>
  </div>
</div>